/* Public */
/* Public */
body,
form,
tr,
td,
input,
textarea,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: justify;
}
div {
  position: relative;
}
img {
  border: none;
}
ul {
  list-style-type: none;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* Variable */
/* Variable */
/* Function Class */
/* Function Class */
/* Class */
/* Class */
.d_clear {
  clear: both;
}
.d_cont_block {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 1px 1px 3px 0 #AAA;
}
.d_cont_block .d_cont_block_title {
  width: 100%;
  height: 40px;
  background-color: #04B1CC;
}
.d_cont_block .d_cont_block_title span.d_cont_block_num {
  position: relative;
  display: inline;
  float: left;
  margin-left: 14px;
  padding: 0 8px;
  height: 40px;
  line-height: 40px;
  background-color: #F2F2F2;
  font-family: "Bauhaus 93";
  font-size: 28px;
  color: #00789B;
  z-index: 100;
}
.d_cont_block .d_cont_block_title span.d_cont_block_num em {
  position: absolute;
  top: 0;
  right: -10px;
  line-height: 0;
  border-left: 10px #F2F2F2 solid;
  border-top: 20px #04B1CC solid;
  border-bottom: 20px #04B1CC solid;
  z-index: 200;
}
.d_cont_block .d_cont_block_title span.d_cont_block_name {
  display: inline;
  float: left;
  margin-left: 20px;
  line-height: 40px;
  color: #FFF;
}
.d_cont_block .d_cont_block_title span.d_cont_block_san {
  display: inline;
  float: right;
  top: 0;
  right: 0;
  height: 0;
  line-height: 0;
  background-color: blue;
  border-top: 6px #F0EFEF solid;
  border-right: 6px #F0EFEF solid;
  border-bottom: 6px #04B1CC solid;
  border-left: 6px #04B1CC solid;
  box-shadow: 3px -3px 0px 3px #f0efef;
}
.d_cont_block .d_cont_block_title span.d_cont_block_more {
  position: relative;
  display: inline;
  float: right;
  margin-right: 1px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
}
.d_cont_block .d_cont_block_title span.d_cont_block_more a {
  display: block;
  width: 20px;
  text-align: center;
  color: #FFF;
}
.d_cont_block .d_cont_block_title span.d_cont_block_more a:hover {
  position: relative;
  top: -1px;
  left: -1px;
  color: green;
}
.d_cont_block .d_cont_block_body {
  width: 100%;
  background-color: #FFF;
}
/* input tag */
.myinput {
  padding: 2px 6px;
  font-size: 14px;
  border: 1px #D0F0D0 solid;
}
.mybutton {
  padding: 4px 24px;
  font-size: 14px;
  background-color: #5ECFD5;
  border: 1px #47C3D6 solid;
  border-radius: 2px;
  color: #FFF;
  cursor: pointer;
}
.mybutton:hover {
  background-color: #6BDCF2;
}
.d_cont_block .d_cont_block_title span.d_cont_block_san {
  border-top: 6px #FFF solid;
  border-right: 6px #FFF solid;
  border-bottom: 6px #04B1CC solid;
  border-left: 6px #04B1CC solid;
  box-shadow: 3px -3px 0px 3px #ffffff;
}
.d_cont_block .d_cont_block_body {
  border-left: 1px #DDD solid;
}
b.bred {
  font-weight: normal;
  color: red;
}
/* Code */
* {
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
body {
  background-color: #f0efef;
}
/* news_content */
#news_content {
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 6px;
  width: 1020px;
  background-color: #FFF;
  box-shadow: 1px 1px 3px 0 #AAA;
}
#news_content #cont_left {
  display: inline;
  float: left;
  margin-left: 24px;
  width: 220px;
}
#news_content #cont_left .news_func .d_cont_block_title {
  width: 222px;
}
#news_content #cont_left .news_func .d_cont_block_body ul#ul_newsfunc {
  display: none;
  padding-top: 3px;
}
#news_content #cont_left .news_func .d_cont_block_body ul#ul_newsfunc li {
  margin-left: 3px;
  margin-bottom: 3px;
  width: 214px;
  height: 40px;
  line-height: 40px;
  text-indent: 2em;
  /*background-color: #DCF2F5;*/
  cursor: pointer;
}
#news_content #cont_left .news_func .d_cont_block_body ul#ul_newsfunc li a {
  display: block;
  color: #222;
}
#news_content #cont_left .news_func .d_cont_block_body ul#ul_newsfunc li:hover {
  background-color: #DCF2F5;
}
#news_content #cont_left .news_func .d_cont_block_body ul#ul_newsfunc li.action {
  background-color: #DCF2F5;
}
#news_content #cont_left .news_func .d_cont_block_body #slide_button {
  position: relative;
  height: 20px;
  border-top: 1px #E8E8E8 solid;
  background-color: #F2FDFF;
  cursor: pointer;
}
#news_content #cont_left .news_func .d_cont_block_body #slide_button em {
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -6px;
  height: 0;
  line-height: 0;
  border-top: 6px #04B1CC solid;
  border-right: 6px transparent solid;
  border-bottom: 6px transparent solid;
  border-left: 6px transparent solid;
}
#news_content #cont_left .news_func .d_cont_block_body #slide_button em.active {
  top: 1px;
  border-top: 6px transparent solid;
  border-bottom: 6px #04B1CC solid;
}
#news_content #cont_right {
  display: inline;
  float: left;
  margin-left: 12px;
  width: 740px;
  min-height: 100px;
}
#news_content #cont_right #news_maincont .d_cont_block_body .div_remind {
  padding: 12px 0;
}
#news_content #cont_right #news_maincont .d_cont_block_body .div_remind p {
  margin: 0 20px;
  padding: 4px 14px;
  font-size: 15px;
  background-color: #FFFBCC;
  border: 1px #D5D692 solid;
  border-radius: 4px;
  color: #7D7A87;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist {
  position: relative;
  margin-left: 14px;
  padding: 8px 0;
  width: 712px;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li {
  position: relative;
  height: 26px;
  line-height: 26px;
  margin-bottom: 6px;
  text-indent: 8px;
  background-color: #F6F6FF;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li a {
  display: block;
  font-size: 15px;
  color: #333;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li a em {
  display: inline;
  float: right;
  margin-right: 10px;
  font-size: 14px;
  color: #BBB;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li em.em_cross {
  position: absolute;
  top: 6px;
  right: -22px;
  width: 16px;
  height: 16px;
  background-image: url("../images/cross.png");
  z-index: 5000;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li em.em_cross:hover {
  top: 5px;
  right: -24px;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li:hover {
  background-color: #DFD;
  cursor: pointer;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li:hover a {
  color: #34F;
}
#news_content #cont_right #news_maincont .d_cont_block_body ul#ul_newslist li:hover a em {
  color: #34F;
}
#news_content #cont_right #news_maincont .d_cont_block_body form#form_addnew table#table_addnew {
  padding: 16px 20px;
  /*background-color: yellow;*/
}
#news_content #cont_right #news_maincont .d_cont_block_body form#form_addnew table#table_addnew tbody tr td {
  padding: 4px 0;
  line-height: 28px;
  vertical-align: top;
  /*background-color: red;*/
}
#news_content #cont_right #news_maincont .d_cont_block_body form#form_addnew table#table_addnew tbody tr td input {
  padding: 4px 6px;
  height: 22px;
  line-height: 22px;
  font-size: 15px;
  border: 1px #8899BB solid;
  border-radius: 2px;
}
#news_content #cont_right #news_maincont .d_cont_block_body form#form_addnew table#table_addnew tbody tr td #d_cont_container {
  max-width: 532px;
  min-height: 300px;
  line-height: 1em;
  font-size: 14px;
}
#news_content #cont_right #news_maincont .d_cont_block_body form#form_addnew table#table_addnew tbody tr td #d_cont_container * {
  font-size: 14px;
}
#news_content #cont_right #news_maincont .d_cont_block_body form#form_addnew table#table_addnew tbody tr td input.in_submit {
  margin-top: 12px;
  margin-left: 30px;
  padding: 0 24px;
  height: 36px;
  line-height: 35px;
  background-color: #17A6BF;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
}
#news_content #cont_right #news_maincont .d_cont_block_body form#form_addnew table#table_addnew tbody tr td input.in_submit:hover {
  background-color: #27B6CF;
}
#news_content #cont_right #news_maincont .d_cont_block_body h1.h1_newsd_title {
  padding: 16px 20px;
  font-size: 22px;
  /*font-weight: bold;*/
}
#news_content #cont_right #news_maincont .d_cont_block_body h2.h2_newsd_author {
  padding: 10px 20px;
  padding-top: 0;
  font-size: 14px;
  color: #AAA;
}
#news_content #cont_right #news_maincont .d_cont_block_body h2.h2_newsd_author em {
  padding-left: 20px;
  font-size: 14px;
}
#news_content #cont_right #news_maincont .d_cont_block_body p {
  padding: 14px 20px;
  line-height: 1.7em;
  /*text-indent: 2em;*/
}
#news_content #cont_right #news_maincont .d_cont_block_body p img {
  margin: 0;
}
#news_content #cont_right #news_maincont .d_cont_block_body img {
  margin-left: 20px;
  max-width: 700px;
}
