/* Public */
@import url(reset.less);

/* Variable */
@import url(variable.less);

/* Function Class */
@import url(functioncss.less);

/* Class */
@import url(publicclass.less);


/* Code */
*{
	font-family: "Microsoft YaHei";
	font-size: 16px;
}
body{
	background-color: @COLOR_BODY;
}

/* dd_zone */
#dd_zone{
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #FFF;
	#d_zone{
		.center();
		width: 940px;
		height: 940px;
		/*background-color: #3F4;*/
		#zone_top{
			height: 100px;
			#zone_t_title{
				h1{
					padding-top: 22px;
					font-size: 24px;
					color: #157C8C;
				}
				h2{
					padding-top: 4px;
					font-size: 14px;
					color: #157C8C;
				}
			}
			#zone_t_nav{
				margin-top: 60px;
				height: 114px;
				/*background-color: yellow;*/
				img#img_t{
					.float(left);
					padding: 3px;
					width: 110px;
					height: 110px;
					background-color: #FFF;
					border: 1px #CCC solid;
				}
				h3{
					.float(left);
					margin-top: 10px;
					margin-left: 14px;
					width: 80%;
					font-size: 20px;
					font-weight: bold;
					/*background-color: #F34;*/
					color: #157C8C;
				}
				ul#ul_zone_nav{
					.float(left);
					margin-top: 46px;
					margin-left: 30px;
					width: 80%;
					height: 28px;
					/*background-color: #34F;*/
					li{
						.float(left);
						margin-right: 6px;
						padding: 0 12px;
						height: 28px;
						/*background-color: #F3F;*/
						a{
							height: 28px;
							line-height: 28px;
							font-size: 15px;
							color: #333;
						}
					}
				}
			}
		}
	}
}