/* Public */
@import url(reset.less);

/* Variable */
@import url(variable.less);

/* Function Class */
@import url(functioncss.less);

/* Class */
@import url(publicclass.less);


/* Code */
*{
	font-family: "Microsoft YaHei";
	font-size: 16px;
}
body{
	background-color: @COLOR_BODY;
}

/* community_content */
